#bg{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        opacity: 1;
        transition: opacity 0.8s ease 2.0s, filter 1.9s ease;
        filter: brightness(1);
        }
#info{
        z-index: 2;
        color: rgb(255, 255, 255);
        font-family: 'Arial', sans-serif;
        opacity: 0;
        transition: opacity 0.8s ease 2.0s;
        font-size: 30px;
        line-height: 1;
        font-family: 'Merriweather', serif;
        margin-left: 8px;
        }
#entry{
        font-family: 'Merriweather', serif;
        text-align: center;
        border: none;
        border-radius: 36px;
        width: 150px;
        height: 42px;
        color: black;
        background-color: red;
        opacity: 0;
        transition: opacity 0.5s ease-in 4.2s;
        }
#entry:hover{
        background-color: rgb(209, 8, 8);      
        cursor: pointer;
        }
#main {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        display: none;
        z-index: 0;
        }

#engineer{
        width: 100%;
        height: 80%;
        z-index: 1;
        inset: 0;
        left: 0;
        margin:0px;
        top: 0;
        position: absolute;
        object-fit: cover;
        object-position: center;
        z-index: 1;
        transition: filter 0.8s ease;
}
#resize{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        }
        .ozel{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 200px;

        }
.title1{
        color: rgb(255, 255, 255);
        opacity: 0;
        transition: opacity 0.4s ease-out;
        font-family: 'Merriweather', serif;
        font-size: 128px;
        z-index: 3;
        margin: 0;
        position: absolute;
        left : 50%;
        top : 28%;
        transform: translate(-50%, -50%);
}      
.title1.show {
        opacity: 1;
        transition: opacity 0.9s ease-in;
}

.title2 {
        opacity: 0;
        transition: opacity 0.4s ease-out;
        font-family: 'Merriweather', serif;
        font-size: 24px;
        z-index: 4;
        color: rgb(255, 255, 255);
        margin: 0;
}
.title2.show {
        opacity: 1;
        transition: opacity 0.9s ease-in;
}
.flexcontrol{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 15px;
        margin-top: 130px;
}
.title3 {
        opacity: 0;
        transition: opacity 0.4s ease-out;
        font-family: 'Merriweather', serif;
        font-size: 24px;
        z-index: 4;
        color: rgb(255, 255, 255);
        margin: 0;
}

.title3.show {
        opacity: 1;
        transition: opacity 0.9s ease-in;
}
.title4 {
        opacity: 0;
        transition: opacity 0.4s ease-out;
        font-family: 'Merriweather', serif;
        font-size: 24px;
        z-index: 4;
        margin: 0;
        color: rgb(255, 255, 255);
}

.title4.show {
        opacity: 1;
        transition: opacity 0.9s ease-in;
}
#sayac {
        display: block;
        position: absolute;
        margin-top: 100px;
        top: 82%;
        left: 50%;
        transform: translateX(-50%);
        font-size: 60px;
        font-weight: bold;
        color: aliceblue;
        z-index: 9999;
        padding: 12px 20px;
        font-family: 'Merriweather', serif;
}
body {
        background-color: rgb(20, 20, 20);
        margin: 0;
        padding: 0;
        }
#information {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 16px;
        margin-top: 140px;
        width: 650px;
        position: absolute;
        top: 92%;
        left: 50%;
        transform: translateX(-50%);
        font-size: 20px;
        font-weight: bold;
        color: aliceblue;
        z-index: 9999;
        font-family: 'Merriweather', serif;
}
.plusicon {
        width: 1.2em;
        height: 1.2em;
        margin-top: 6px;
        cursor: pointer;  
        display: inline-flex;      
        cursor: pointer;
        transition: transform 0.4s ease;
        transform-origin: center center;
        text-align: center;
        align-items: center;
        justify-content: center;
       
                
}

.s{
        padding: 0;
        margin: 2px;;
        transition: transform 0.2s ease;
        transform: translateY(0);
}
.s.active {
        transform: translateY(50px);
}
#yazi{
        display: block;
        position: absolute;
        margin-top: 100px;
        top: 68%;
        left: 50%;
        transform: translateX(-50%);
        font-size: 60px;
        font-weight: bold;
        color: aliceblue;
        z-index: 9999;
        padding: 12px 20px;
        font-family: 'Merriweather', serif;
}

#m1{
        font-size: 22px;
        color: aliceblue;
        position: absolute;
        top: 114%;
        left: 4%;
        display: none;
        
}
#m2 {
        font-size: 22px;
        color: aliceblue;
        position: absolute;
        top: 123%;
        left: 17%;
        display: none;

}
#m3 {
        font-size: 22px;
        color: aliceblue;
        position: absolute;
        top: 129%;
        left: 19%;
        display: none;

}
#m4 {
        font-size: 22px;
        color: aliceblue;
        position: absolute;
        top: 136%;
        left: 29%;
        display: none;

}
#m5 {
        font-size: 22px;
        color: aliceblue;
        position: absolute;
        top: 143%;
        left: 24%;
        display: none;

}


